.section1{
    height:686.48px;
    background-color: black;
}

.section2 {
    height: 595.5px;
 
}
.section2 .bg-black{
    height: 297.75px;
    background-color: black;
    padding: 0% 80px;

}
.section2 .bg-black img{
    border-radius: 15px;
}

.section3{
    height: 553.31px;

}

.section4{
    height: 859.5px;
}

.section5 img{
    width: 1349px;
    height: 674.5px;
   vertical-align: bottom;
}

.section6{
    padding: 48px 0 0 ;
  height: 279px;
}
.section7{

  height: 399px;
  background-color: #F7F7F7;
}
